*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}


#navList{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 13px;
    /* margin-left: 15px;
    margin-right: 15px; */
    width: 100%;

}

.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
}

.navcontainer{
    width: 100vw;
background-image:beige;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#logo{
    font-size: 40px;
    color: #0A400C;
    font-weight: 20px;
}

nav{
    width: 100%;
    overflow-x: none;
    padding-right: 2rem;
}

a{
    text-decoration: none;
    color: #520d0d;

}

.links{
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    margin: 5px;

}

main{
    background-color: #b3c594;
    /* width: 100%;
    height:100%; */
    box-sizing: border-box;
    padding: 20px;
    margin:0;
}

.footer{
    background-color: beige;
    height: 40px;
    width: 100%;
    text-align: center;
    padding: 6px;
}


.contentBox{
    width: 100%;
    margin: auto;
    flex-direction: column;
    gap: 100px;
    padding: 40px;
}


.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(239, 255, 200);

}




.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.list{
    list-style: none;
}



img{
    width: 200px;
    border-radius: 9px;
    transform: all 0.2s linear 0s;
}
img:hover{
    transform: scale(1.1);
}

.rightBox{
    height: 400px;
    position: relative;
    overflow: hidden;
}
.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 4, 4);
}

.rightBox .overflow a{
    color: green;
    font-size: 2px;

}
a{
    justify-content: center;
    text-align: end;
    padding: 40px;
}

.hero{
    width: 100%;
    height: 800px;
    border: 2px solid black;
}
h1{
    font-size: 100px;
}