@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
    width: 300px;
    border: 0.3px solid white;
    padding: 14px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(255, 248, 248, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input{
    width: 90%;
    /* border: 1px solid gray; */
    border: none;
    padding: 24px;
    border-radius: 10px;
    /* background: rgb(41, 40, 40); */
    background: transparent;
    margin: 10px;
    /* box-shadow: 0px 3px 15px rgba(255, 248, 248, 0.2); */
    font-size: 24px;
    text-align: right;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 20px;
    /* background-color: gray; */
    pointer-events: none;
}
button{
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    margin: 4px;
    background-color: #343434;
    color: white;
}

#last-col-yellow{
    background-color: rgb(229, 136, 36);
}
#first-row-gray{
    background-color: rgb(160, 160, 160);
    font-weight: 300 ;
    color: black;
}



#overlay-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#overlay-card .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(22, 22, 22, 0.78);
    padding: 20px 30px;
    border-radius: 10px;
    /* border: 1px solid rgba(224, 222, 222, 0.465); */
    text-align: center;
    /* box-shadow: 0 4px 15px rgba(188, 188, 188, 0.3); */
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 17px;
}

#close-overlay {
    margin-top: 15px;
    padding: 3px 1px;
    background: #f91e1eda;
    color: white;
    /* border: 1px solid white; */
    border-radius: 50px;
    cursor: pointer;

}
img{
    margin-top: 20px;
    height: 50px;
    width: 50px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}
/* #profile{
    margin-top: 25px;
        border: 2px solid rgb(145, 145, 145);

    border-radius: 50%;
    height: 30px;
    width: 30px;
} */

.links{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white;
    padding: 30px;
    margin-top: 0;
    margin-bottom: 4px;
    border-radius: 10px; */

}