*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container{
    width: 80%;
    max-width: 680px;
    margin: 0 auto;
    background-color: rgb(44, 44, 44);
    padding: 1.7rem;
    border-radius: 10px;
    border: 1px solid rgb(96, 96, 96);
}

h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}

h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#countdown{
    display: flex;
    justify-content: space-around;
    font-weight: 400;
}
#countdown div{
    padding: 20px;
    width: 80px;
    background-color: rgb(175, 175, 175);
    margin-bottom: 30px;
    border-radius: 3px;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (max-width:530px) {
    #countdown {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    }
    #countdown div{
        width: 90%;
    }
}

span{
    font-size: 20px;
}
.progress-container{
    background-color: white;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    overflow: hidden;  /* to make the width rounded  */
}

#progressbar{
    background-color: rgb(149, 255, 0);
    width: 0%; /* width starting 0%  */
    height: 100%;
    transition: width 1s ease-in-out;   /* adding transition to width */
    border-radius: 5px;
}

#input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 9px;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
}
button{
    height: 30px;
    width: 150px;
    padding: 5px;
    border: none;
    
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-weight: bold;
}

#date{
    background-color: rgb(226, 182, 255);
    height: 30px;
    border-radius: 10px;
    width: 210px;
    border: none;
    border: 1px solid white;
    padding:5px;
}

#date:hover{
    background-color: rgb(213, 150, 255);
}
label{
    opacity: 40%;
    color: rgb(255, 255, 255);
}
button:hover{
    background-color: rgb(111, 174, 2);
    color: white;
}